@import url('https://fonts.googleapis.com/css2?family=Airbutus+Slab');
@import url('https://fonts.googleapis.com/css2?family=El+Mukta');
/*  __________________________________________________________________________ */
/* |                         PAGE DE CONNEXION                                |*/
/* |__________________________________________________________________________|*/
body {
	background-color:#D1F2EB;
	font-family:"Arbutus Slab";
}
.container {
	background-color:white;
	line-height:1.5em;
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
}
[class*="col-"] {
    line-height: 20px;			/* hauteur des lignes */	
    text-align: left;			/* Centrage horizontal */
}
/* Navbar */
.nav {
	border-bottom : 7px solid #5AC1A4;	/* Bordure bas de la nav-bar verte */
	background-color: white;
}

/* Logo MedSoft */
.logo1, .logo2 {
	width:40%;
}
/*Image de fond avec "Bienvenue"*/
.home {
	background-image:url('../assets/image_fond.png');
	background-size:100%;
	height:300px;
	padding-top:10%;
	padding-left:5%;
	font-size:2em;
	font-weight:bold;
}
/* "Connexion à mon compte" */
.titre {
	text-align:center;
	font-size:1.2em;
	text-decoration:underline;
	text-transform:uppercase;
	font-weight:bold;
	padding-bottom:5%;
}
/*Formulaire de connexion*/
.formConnexion {
	font-size:2em;
	font-family : "Arbulatus Slab";
}
/* Alignement à droite des labels du form*/
.rightAlign {
	text-align:right;
}
/*Bouton "Me Connecter"*/
.buttonConnect {
	background:#5BC1A5;
	color:white;
	border:2px solid rgba(20, 153, 153, 0.4);
	border-radius:10px;
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
	width:auto;
	height:auto;
	text-align:center;
	padding:10px;
}
/* Div contenant le bouton "Me connecter"*/
.btnConnect {
	text-align:center;
}
/* Espacement entre les divs */
div {
	margin-bottom:20px;
}

/*  __________________________________________________________________________ */
/* |                         PAGE D'ACCUEIL MEDECIN                           |*/
/* |__________________________________________________________________________|*/
/* Div contenant les boutons*/
.logos {
	padding:30px;
	text-align:right;
}

/* Nom du docteur authentifié */
.doctorName {
	font-size:2.5em;
	text-decoration:underline #5AC1A4;
	text-align:center;
}
/* Div permettant de mettre un espace blanc entre 
le nom du docteur et la recherche par critère*/
.espaceB {
	padding:0px 30px 0px 30px;
}
/* Div contenant le formulaire */
.rechCri {
	background:lightgrey;
}
/* Formulaire de recherche de patients par critères */
.rechercheCriteres {
	font-size:1.2em;
	padding:10px;
	height:90px;
}	
/* Champs de saisies */
.inputCritere {
	padding:20px;
}
/* Saisies du formulaire */
[type*="texte"] {
	line-height:20%;
	border:1px solid #B4B8B9;
}
/* Bouton rechercher du formulaire de recherche par critères*/
.buttonRechercher {
	background:lightgrey;
	border:2px solid #B4B8B9;
	border-radius:10px;
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
	width:auto;
	height:auto;
	text-align:center;
}
/* Div du bouton "rechercher" du formulaire*/
.divBtn {
	line-height:50px;
	padding:5px;
	text-align:center;
}
/* Entête du tableau */
.thMed {
	background:#88E1D6;
	color:white;
	border:1px solid white;
}
/* Div conenant le tableau*/ 
.divTable {
	padding:0px 30px 0px 30px;
	text-align:center;
}
/* Cellules du tableau */
th, td {
	padding:10px;
	text-align:center;
}
tr, td {
	border:1px solid #B4B8B9;
}
/* Div contenant le bouton "Ajouter un patient" */
.divBtnA {
	padding:30px;
	font-size:1.2em;
}
/* Lien du bouton "Ajouter" */
a {
	color:black;
}
a:hover {
	color:black;
}

/*  __________________________________________________________________________ */
/* |                         PAGE DE CREATION D'UN PATIENT                    |*/
/* |__________________________________________________________________________|*/

/* Titre création d'un patient*/
.titreCreation {
	text-decoration:none;
	font-size:2em;
	height:20px;
	text-align:left;
	padding:30px;
}
/* Formatage du padding */
.paddingForm {
	padding: 0px 30px 0px 30px;
}

/* Formulaire de création d'un patient*/
.formPatient {
	border:1px solid #B4B8B9;
	line-height:30px;
	font-size:1.1em;
}
.row {
	height:auto;	/* Hauteur des lignes */
}
/* Div contenant le bouton "Valider" du formulaire*/
.btnValid {
	text-align:center;
	font-size:1.5em;
}
/* Formatage des boutons radios */
.btnRadio {
	border-radius:50%;
	width:16px;
	height:16px;
	text-align:center;
}
/* Div contenant la bouton Valider */
.divBouton {
	text-align:center;
}
/*Bouton "Valider"*/
.buttonValid {
	background:#5BC1A5;
	color:white;
	border:2px solid rgba(20, 153, 153, 0.4);
	border-radius:10px;
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
	width:17%;
	height:auto;
	text-align:center;
}
/* Champs du formulaire vide*/
.enRouge {
	color:red;
}
.enVert {
	color: green;
}
.formGD {
	padding-top:20px;
}
/* Saisies du formulaire */
[type*="submit"] {
	text-align:center;
}
.titreOK {
	text-decoration:none;
	font-size:2em;
	height:20px;
	text-align:left;
	padding-bottom:30px;
	padding-left:30px;
}

/*  __________________________________________________________________________ */
/* |                         PAGE DOSSIER PATIENT                             |*/
/* |__________________________________________________________________________|*/

.bordureD { 
	border:1px solid #B4B8B9;
	line-height:30px;
	font-size:1.1em;
}
.entete {
	text-decoration: underline black;
}
/* Titre création d'un patient*/
.titreDossier {
	text-decoration:none;
	font-size:2em;
	text-align:left;
	padding-top: 30px;
	padding-left: 30px;
	text-transform:uppercase;
	font-weight:bold;
}
.paddingDossier {
	padding-left:20px;
	padding-right:20px;
}
.center {
	text-align:center;
}
/*  __________________________________________________________________________ */
/* |                         PAGE MODIF DOSSIER PATIENT                       |*/
/* |__________________________________________________________________________|*/

/* Champs du formulaire modifié*/
.enBleu {
	color:skyblue;
}

/*  __________________________________________________________________________ */
/* |                         PAGE D'ACCUEIL ADMINISTRATEUR                    |*/
/* |__________________________________________________________________________|*/

.accueilAdmin{
	background-color: #E0EEF4;
}
.bleu {
	background-color: #E0EEF4;
}
/* Nom Admmin */
.adminName {
	font-size:2.5em;
	text-decoration:underline #1FA9E9;
	text-align:center;
}
.bordure {
	border-style:solid ; 	/* Bordure double */
	border-width:2px;		/* Epaisseur bordure */
	border-color:#1B4B67;	/* Couleur de la bordure */
	padding:8px;			/* Marge int�rieure */
	min-height:200px;		/* Hauteur minimale d'une boite */
	margin:5px;
}

.thAdm {
	background-color: #A5DBF4;
}

.ligneMed {
	background-color: white;
}

.left {
	text-align: left;
}
/* Logo ajouter un medecin*/
.logo7 {
	width:5%;
}
/* Formatage */
[type*="file"] {
	width:30%;
	background-color:white;
	padding:8px;
}

.specialTable {
	max-width:fit-content;
}

/*  __________________________________________________________________________ */
/* |                         PAGE FICHE MÉDICAMENT                            |*/
/* |__________________________________________________________________________|*/

.titreMedoc {
	text-decoration:none;
	font-size:1.2em;
	text-align:left;
	padding-top: 30px;
	padding-left: 30px;
	font-weight:bold;
}

.paddingFiche {
	padding-left:20px;
}

.texteCentre {
	text-align: center;
}

/*  __________________________________________________________________________ */
/* |                         POP-UP RECHERCHE MEDICAMENT                      |*/
/* |__________________________________________________________________________|*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
  	color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99998;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
	overflow-y: scroll;
}
.modalDialog2 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
  	color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
	overflow-y: scroll;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 60%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: rgba(255,255,255, 0);

}
.close {
    color: darkslategray;
    font-size: 30px;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

}
.close:hover {
  color: #000;
}